.modal {
    background-color: rgba(48, 48, 48, 0.562);
    color: navy;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal:hover {
    cursor: pointer;
}

.modal-body {
    background-color: whitesmoke;
    width: 75%;
    height: 85%;
    position: relative;
    z-index: 11;
    cursor: default;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.close-icon {
    position: absolute;
    left: 45px;
    top: 45px;
    background-color: navy;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-icon:hover {
    cursor: pointer;
    scale: 1.1;
}

.close-icon img {
    filter: invert(100%);
    scale: 0.8;
}

.header {
    border-bottom: 2px solid rgba(46, 46, 161, 0.137);
    padding-bottom: 20px;
    width: fit-content;
    margin: 20px 0;
}

.columns { 
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: row;
}

.column-1 {
    width: 60%;
    height: 100%;
}

.import-dropdown {
    border: 1px solid rgba(46, 46, 161, 0.137);
    border-radius: 10px;
    margin-left: 25px;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    position: relative;
}
.import-dropdown:hover {
    cursor: pointer;
    background-color: rgba(54, 179, 221, 0.205);
}

.import-dropdown img {
    margin-right: 15px;
}

.dropdown-content {
    transform: scaleY(0);
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    background: white;
    border-radius: 10px;
}

.dropdown-content p {
    margin: 0;
    padding: 5px;
}
.dropdown-content p:hover {
    background-color: rgba(37, 151, 189, 0.521);
}

.import-dropdown-open {
    transform: scaleY(1);
}

.file-import {
    width: 80%;
    height: 70%;
    padding-left: 10px;
    margin-left: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.upload-box {
    border: 1px solid rgba(46, 46, 161, 0.137);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.drag-drop-box {
    border: 2px dotted rgba(46, 46, 161, 0.137);
    border-radius: 10px;
    width: 95%;
    height: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 11;
}
.drag-drop-box:hover {
    cursor: pointer !important;
}

.drag-drop-box img {
    position: absolute;
    top: 30px;
}
.drag-drop-box label {
    position: absolute;
    top: 70px;
}

.upload-btn {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: navy;
    color: white;
    width: 45%;
    margin-top: 10px;
}
.upload-btn:hover {
    cursor: pointer;
}

.uploaded-file {
    margin: 10px auto;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    color: grey;
}

.uploaded-file img {
    width: 30px;
    margin-right: 15px;
    margin-left: 25px;
}

.file-progress {
    display: flex;
    flex-direction: column;
}
.file-progress p {
    margin: 0;
}

.uploaded-file .size {
    position: absolute;
    top: -5px;
    right: 10px;
    font-weight: 600;
}

.elapse-data-checking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
    margin-top: 10px;
    height: 10%;
}
.elapse-data-checking h5, .elapse-data-checking p {
    margin: 2.5px 0;
}

.tolerance-window {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 25px;
    margin-top: 10px;
    height: 10%;
}

.tolerance-window h5 {
    margin: 0;
}

.tolerance-switch {
    height: 30px;
    width: 45px;
    margin-top: -15px;
}

.switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 45px;
    height: 30px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.switch-label .switch-button {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 25px;
    height: 25px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(152, 2, 172, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switch-label:active .switch-button {
    width: 25px;
}

.column-2 {
    width: 40%;
}

.schedule-split {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.schedule-split-checkbox {
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
}

.checkbox-round {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox-round.no {
    margin-left: 20px;
}

.checkbox-round:checked {
    background-color: navy;
}

.location-checking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.location-checking h5 {
    margin: 0;
}
.location-checking h6 {
    color: rgb(2, 194, 2);
    margin: 10px 0;
    font-size: 13px;
}

.client-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.client-selection h5 {
    margin: 10px 0;
}

.client-selection .dropdown {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.client-selection .dropdown span {
    text-align: left;
    margin-right: 10px;
    margin-top: 7.5px;
    min-width: fit-content;
}
.client-selection .dropdown .dropdown-content {
    z-index: 11;
}
.client-selection .dropdown span {
    text-align: left;
    margin-right: 10px;
    margin-top: 7.5px;
    min-width: fit-content;
}

.client-selection .dropdowns {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.client-selection .dropdowns span {
    text-align: left;
    margin-right: 10px;
    margin-top: 7.5px;
    min-width: fit-content;
}

.split-schedule-dropdown-1, .split-schedule-dropdown-2, .split-schedule-dropdown-3, .split-schedule-dropdown-4 {
    border: 1px solid rgba(46, 46, 161, 0.137);
    border-radius: 10px;
    margin-left: 45px;
    min-width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    position: relative;
}

.split-schedule-dropdown-1:hover, .split-schedule-dropdown-2:hover, .split-schedule-dropdown-3:hover, .split-schedule-dropdown-4:hover {
    cursor: pointer;
} 

.schedule-dropdown-open {
    transform: scaleY(1);
}

.bottom-row {
    margin-top: 45px;
}

.continue-cancel-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.continue-btn {
    margin-right: 15px;
    width: 250px;
    background: navy;
    border: 2px solid navy;
    color: white;
    border-radius: 15px;
}
.continue-btn:hover {
    cursor: pointer;
}
.cancel-btn {
    margin-left: 15px;
    width: 250px;
    color: rgb(255, 174, 0);
    border: 2px solid rgb(255, 174, 0);
    border-radius: 10px;
}
.cancel-btn:hover {
    cursor: pointer;
}